* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: sans-serif;
}
.HomeBody {
  width: 100%;
  height: auto;
}
.navBody {
  padding: 15px 30px;
}
nav .topName {
  letter-spacing: 1.7px;
  font-size: 1.7rem;
  font-weight: bold;
}
nav {
  background-color: rgb(8, 225, 225);
}
nav .nav-link {
  letter-spacing: 1px;
}
.active {
  font-weight: bold;
}
@media (max-width: 463px) {
  .navBody {
    padding: 15px 10px;
  }
}
/* mainSection */

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("./components/assets/bg.jpg") no-repeat center center;
  background-size: cover;
  background-position: center;
  filter: blur(1.5px); /* Apply the blur effect */
}
.main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(26, 24, 24, 0.604);
  /* z-index: 1; */
}
.content {
  position: relative;
  z-index: 1;
  color: white; /* Just for visibility, adjust as needed */
  padding: 30px;
  margin-top: 200px;
}
.content .heading {
  font-size: 2.5rem;
  letter-spacing: 1px;
}
.content .para {
  font-size: 1.3rem;
  color: rgb(226, 224, 224);
  margin: 10px 0px 30px 0px;
  letter-spacing: 1px;
}
.content .link {
  padding: 10px 40px;
  border-radius: 9px;
  cursor: pointer;
  background-color: rgb(8, 225, 225);
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
  border: 1px solid rgb(8, 225, 225);
  text-decoration: none;
}
/* footer */
.footer {
  text-align: center;
  background-color: #1e1c1c;
  color: #fff;
  padding: 1.5rem 0;
}

.footer-bottom {
  margin-top: 1rem;
  padding: 0px 20px;
  letter-spacing: 1px;
}
/* WordPart */
.searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px 30px;
  position: relative;
  width: 100%;
  height: 100vh;
  margin-bottom: 100px;
}

.searchForm .searchBody {
  background-color: white;
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
}
.searchForm .searchBody h2 {
  margin: 20px 0px;
  font-weight: bold;
  letter-spacing: 1.3px;
  font-size: 1.5rem;
}
.searchForm input[type="text"] {
  width: 70%;
  padding: 9px 10px;
  margin-bottom: 10px;
  border: 1.5px solid black;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
}

.searchForm button {
  padding: 10px 30px;
  font-size: 16px;
  color: black;
  background-color: rgb(8, 225, 225);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  letter-spacing: 1px;
}

.searchForm button:hover {
  background-color: rgb(44, 210, 210);
}

.searchForm .content {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.searchForm .content h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: black;
  letter-spacing: 1px;
}

.searchForm .content p {
  font-size: 18px;
  margin-bottom: 10px;
  color: black;
  letter-spacing: 1px;
}

.searchForm .content b {
  font-weight: bold;
  color: black;
}

.searchForm .content a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.searchForm .content a:hover {
  color: #0056b3;
}

.searchForm audio {
  margin-top: 20px;
}
/* secondSection */
.secondSection {
  padding: 68px;
  color: black;
  background-color: rgb(218, 217, 217);
  width: 100%;
  margin-top: 0px;
  height: 100%;
}
.secondSection .para {
  text-align: center;
  margin-bottom: 40px;
}
.secondSection .parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.secondSection .first {
  text-align: center;
  background-color: white;
  padding: 40px 40px;
  border-radius: 10px;
  letter-spacing: 1px;
}
.secondSection .first h3 {
  font-weight: 500;
  font-size: 1.5rem;
}
.secondSection .first p {
  color: rgb(102, 101, 101);
  margin-top: 20px;
}
.secondSection h2 {
  font-size: 2rem;
  font-weight: bold;
}
@media (max-width: 955px) {
  .secondSection .parent {
    grid-template-columns: 1fr;
  }
}
